img{
	height: 200px;
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
	border:solid black 4px;
	border-radius: 50%;
}

body{
	font-family: Verdana;
	background-color: #CEECF5
}

p.name{
	font-weight: bold;
	font-size: 30px;
}

p.info{
	color: white;
	font-size: 16px;
}

p.carrer{
	color: white;
	font-size: 30px;
}
p.academicProjects{
	color: grey;
	font-size: 13px;

}

h1{
	background-color: #0073b1;
	color:white;
	padding: 6px;
	margin: 0px; 

}

h2{
	font-size: 15px;
}

#font{
	background-color: #BDBDBD;
	color:white;
	padding: 6px;
	margin: 0px; 
}